* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

img {
  display: block;
}

.logo-container {
  padding: 5px 5px;
  display: flex;
  justify-content: center;
}

.top-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  background-color: #109bff;
  padding: 10px;
  box-sizing: border-box;
}

.h2-top-bar {
  color: white;
  margin: 0;
  font-size: 22px;
  text-align: center;
  margin-top: 3px;
}

.header {
  min-height: 70px;
  background-color: #55b8ff1f;
}

.top-links:hover {
  font-weight: 500;
  transition: 0.5s;
}

.logo {
  max-width: 225px;
}

.top-link-computerOnly {
  @media screen and (max-width: 539px) {
    display: none;
  }
}

.links {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding-bottom: 10px;

  @media screen and (min-width: 539px) {
    gap: 20px;
  }
}

a {
  color: #004e86;
  font-size: 20px;
  text-decoration: none;
}

body {
  font-family: "league spartan", serif;
}

.everything-except-header {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr;

  @media screen and (min-width: 699px) {
    grid-template-columns: 2fr 1fr;
    margin-top: 50px;
  }
}

.header-img-div {
  height: 400px;
  min-width: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(img/header.webp);

  @media screen and (min-width: 1000px) {
    height: 500px;
  }
  @media screen and (min-width: 799px) {
    background-image: url(img/header2.png);
  }
}

.header-text-div {
  padding: 10px;
  max-width: 100%;
  display: flex;

  @media screen and (min-width: 1000px) {
    justify-content: left;
    padding-top: 20px;
    padding-left: 50px;
  }
}

.headerImg-p {
  margin-top: 0;
}

.header-text-bg {
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.137);

  @media screen and (min-width: 499px) {
    background-color: #00000000;
  }
}

.header-text {
  color: white;
  font-size: 20px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  margin-right: 10px;

  @media screen and (min-width: 1000px) {
    font-size: 30px;
    margin-left: 10px;
    background-color: none;
  }
}

.fonster-container {
  padding-top: 10px;
  min-width: none;
  max-width: 1200px;
}

.fonster-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.welcome-text-div {
  background-color: #f7f7f7;
  margin: 10px;
  margin-top: 30px;
  padding: 10px;
  border-radius: 15px;
}

.valkommen-text {
  text-align: center;
}

p {
  font-size: 20px;
}

.info-p {
  font-size: 22px;
}

.centered-text {
  text-align: center;
}

.fonster-example-container {
  margin: 10px;
  margin-top: 20px;
  padding: 15px;
  background-color: #f7f7f7;
  border-radius: 20px;
  /* max-height: 270px; */
  display: flex;

  @media screen and (min-width: 699px) {
    max-height: 270px;
  }
}

.fonster-example-container-2 {
  display: flex;
  margin: 10px;
  margin-top: 20px;
  padding: 15px;
  background-color: #f7f7f7;
  border-radius: 20px;
  /* max-height: 270px; */

  @media screen and (min-width: 699px) {
    max-height: 270px;
  }
}

.big-container {
  display: grid;
  grid-template-columns: 100%;
}

.fonster-img-div {
  width: 50%;
}

.fonster-img {
  object-fit: cover;
  border-radius: 20px;
  object-fit: cover;
}

.fonster-example-text {
  padding: 5px;
  width: 50%;
}

.fonster-example-text-2 {
  padding: 5px;
  width: 50%;
}

.boka-container {
  margin: 10px;
  margin-top: 20px;
  background-color: #c9e9ff;
  padding: 15px;
  border-radius: 20px;
  max-width: 500px;

  @media screen and (min-width: 0px) {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

.boka-div-link {
  /* display: flex;
    justify-content: center;
    background-color: #3494d4;
    height: 40px;
    width: 140px;
    border-radius: 15px; */
  background-color: #58a0ff;
  border: solid 3px;
  border-radius: 20px;
  border-color: #3e92ff;
  padding: 10px;
  text-align: center;
  transition: 0.4s;
}

.boka-div-link:hover {
  background-color: #177cff;
  transition: 0.5s;
}

.boka-link-text {
  font-size: 23px;
  padding: 12px;
  color: white;
}

.boka-div-link-container {
  display: flex;
  justify-content: center;
}

.boka-tid-text {
  max-width: 300px;
  text-align: center;
}

.social-proof {
  background-color: #f1b3575d;
  margin: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 20px;
}

.social-proof-img-container-2 {
  display: flex;
  justify-content: center;
}

.social-proof-img-container {
  max-width: 100px;
}

.social-proof-img {
  border-radius: 50px;
  max-width: 100px;
}

.social-proof-text {
  text-align: center;
  padding: 5px;
  padding-top: 10px;
}

.social-proof-p {
  font-size: 24px;
  padding-left: 10px;
  padding-right: 10px;
}

.social-proof-stars {
  font-size: 30px;
  color: #d87300;
}

.breadcrumb-div {
  margin-top: 20px;
  padding: 5px;
  border: solid;
  color: #00000023;
}

.breadcrumb-1 {
  color: black;
}

.info-list {
  font-size: 20px;
  padding: 2px;
}

.pris-box {
  background-color: #55b8ff1f;
  border: solid;
  border-color: #00000013;
  max-width: 300px;
  padding: 5px;
  border-radius: 5px;
}

.email-card {
  margin: 30px;
  background-color: #dff2ff;
  padding: 20px;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  border: solid;
  border-color: #004e8627;
}

.email-card-2 {
  margin: 30px;
  background-color: #dff2ff;
  padding: 20px;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  border: solid;
  border-color: #004e8627;
}

.cards-container {
  display: grid;
  margin-bottom: 70px;
  margin-top: 20px;

  @media screen and (min-width: 699px) {
    grid-template-columns: 1fr 1fr;
  }
}

.ring-div {
  background-color: #58a0ff;
  border: solid 3px;
  border-radius: 20px;
  border-color: #3e92ff;
  text-align: center;
  transition: 0.4s;
  padding-left: 10px;
  padding-right: 10px;
}

.ring-text {
  color: white;
}

.email-link-text {
  max-width: 300px;
  text-align: center;
}

.boka-tid-h1-container {
  display: flex;
  justify-content: center;
}

.boka-tid-h1 {
  padding: 5px;
  max-width: 280px;
  background-color: #eeeeeebd;
  text-align: center;
  border-radius: 5px;
}

.small-text {
  font-size: 15px;
}

.vad-hander-efter-bokning-container {
  background-color: #e2e2e2;
  padding: 10px;
  margin: 15px;
  border: solid;
  border-color: #00000011;
  border-radius: 15px;
  text-align: center;
}

.big-p {
  font-size: 23px;
  text-align: left;
}

.big-h2 {
  font-size: 30px;
  text-align: left;
}

.obs-box {
  max-width: 380px;
}

.prislista-page-parent {
  padding: 10px;
}

.navbar {
  position: absolute;
  padding-left: 30px;
}

.navbar-ul {
  position: absolute;
  display: none;
  background-color: white;
  list-style: none;
  padding: 10px;
  margin: 0;
  box-shadow: 0 4px 8px #00000050;
  border-radius: 20px;
}

.navbar-wrapper:hover .navbar-ul {
  display: block;
}

.navbar-wrapper {
  position: relative;
}

.nav-link {
  display: flex;
  flex-direction: row;
}

.navbar-item {
  padding: 10px;
  background-color: #109bff;
  color: white;
  max-height: 50%;
  border: solid #ffffff34;
  border-radius: 10px;
  margin: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.navbar-item:hover {
  background-color: #007dd6;
  transition: 0.5s;
}

.nav-link-text {
  margin-top: 6px;
  margin-left: 10px;
  color: white;
  font-weight: 500;
  padding-right: 10px;
}

.nav-link-text:hover {
  transition: 0.5s;
  padding-left: 10px;
  padding-right: 0;
}

.navbar-icon {
  background-color: white;
  border-radius: 10px;
  padding: 2px;
}

.footer {
  background-color: #109bff;
}

.footer-content {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;

  @media screen and (min-width: 867px) {
    padding: 100px;
    display: grid;
    grid-template-columns: 3fr 3fr 4fr;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.footer-links {
  display: flex;
  flex-direction: column;
  padding: 10px;

  @media screen and (min-width: 867px) {
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
  }
}

.lankar-header-container {
  @media screen and (min-width: 699px) {
    margin-bottom: 33px;
  }
}

.footer-about-us {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.footer-info {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.white-color {
  color: white;
}

.footLink {
  padding-bottom: 16px;
}

.contactform-container {
  padding: 20px;
}

.contactform-div {
  display: grid;
  padding: 7px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.submit-button {
  max-width: 250px;
  color: white;
  font-weight: 700;
  background-color: #58a0ff;
  border: solid 3px;
  border-radius: 20px;
  border-color: #8dbeff;
  padding: 10px;
  text-align: center;
  transition: 0.4s;
}

.submit-button:hover {
  background-color: #0082df;
}

.instagram-div {
  padding: 10px;
}

.instagram-div-2 {
  padding: 10px;
}

.instagram-post-container {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1099px) {
    flex-direction: row;
  }
}

.instagram-h1 {
  display: flex;
  justify-content: center;
}

.instagram-container {
  /* margin: 10px; */
  background-color: #eef8ff;
  /* border-radius: 20px; */
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (min-width: 699px) {
    background-color: #eef8ff;
    display: grid;
    margin-top: 20px;
  }
}

.call-us-div {
  margin-left: 30px;
  margin-right: 30px;
  background-color: #d2ecff;
  padding: 10px;
  border-radius: 20px;
  margin-top: 20px;
  border: solid;
  border-color: #bde3ff;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 699px) {
    margin-left: auto;
    margin-right: auto;
    max-width: 85%;
  }
}

.call-us-div-2 {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 5px;
}

p {
  margin: 0 px;
}

h1 {
  margin-bottom: 10px;
}

.cookiebar,
.cookie-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  padding: 0 20px;
  margin: 0;
}

.btnWrap {
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;

  @media screen and (min-width: 479px) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.cookie-container {
  flex-wrap: wrap;
}

@media screen and (min-width: 479px) {
  .cookie-container {
    flex-wrap: nowrap;
  }
}

/* .button-yes {
  background-color: #2a86ff;
  color: white;
  max-height: 50%;
  border: solid #ffffff;
}

.button-no {
  background-color: #bbd9ff;
  border: solid #93c2ff;
  max-height: 50%;
} */

#button-yes,
#button-no {
  margin: 0px;
  padding: 10px;
  border-radius: 15px;
  min-width: 150px;
}

@media screen and (min-width: 479px) {
  #button-yes,
  #button-no {
    display: flex;
    margin: 12px;
    padding: 10px;
    align-self: center;
    border-radius: 15px;
    min-width: 150px;
  }
}

#button-yes {
  background-color: #2a86ff;
  color: white;
  max-height: 50%;
  border: solid #ffffff34;
}

#button-no {
  background-color: #bbd9ff;
  border: solid #93c2ff;
  max-height: 50%;
}
.cookie-banner-active {
  display: block;
}

.cookie-p {
  background-color: #318aff;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}

.cookie-logo-container {
  margin-top: 10px;
}

.cookie-logo {
  max-width: 150px;
}

.button-yes:hover,
#button-yes:hover {
  background-color: #1b6fdd;
  transition: 0.5s;
}

.button-no:hover,
#button-no:hover {
  background-color: #eef5ff;
  transition: 0.5s;
}

.cookiebar {
  background-color: #6faeff;
  color: white;
  font-weight: 500;
  padding: 15px;
  border-radius: 20px;
  margin-right: auto;
  margin-left: auto;
  display: none;
}

.cookiefisk {
  display: block; /* show when cookieparent is added */
}

.cookie-parent {
  width: 100%;
  bottom: 0;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
}

.anvandarvillkor-container {
  padding: 10px;
  margin-bottom: 100px;
  margin-top: 100px;

  @media screen and (min-width: 699px) {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
  }
}

.calculator-container {
  background-color: #109bff23;
  padding: 20px;
  max-width: 600px;
  border-radius: 20px;
  margin-bottom: 100px;
  margin-top: 50px;
  margin-left: 15px;
  margin-right: 15px;

  @media screen and (min-width: 599px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.calculate-p {
  margin: 0;
}

#result-box {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
}

.input-windowCount {
  margin-top: 20px;
}

.custom-btn {
  margin-top: 20px;
  color: white;
  display: inline-block;
  background-color: #58a0ff;
  border: solid 3px;
  border-radius: 20px;
  border-color: #3e92ff;
  padding: 10px;
  text-align: center;
  transition: 0.4s;
  cursor: pointer;
  text-align: center;
  user-select: none;
  margin-bottom: 20px;

  @media screen and (min-width: 526px) {
    margin-left: 20px;
  }
}

.custom-btn:hover {
  transition: 0.5s;
  background-color: #0076ca;
}

.h2-calculator {
  margin-bottom: 0;
}

#textDisplay {
  color: white;
  font-size: 22px;
  opacity: 1;
  transition: opacity 1s ease-in-out;
  background-color: #109bff;
}

#textSpan {
  color: white;
  opacity: 1;
  transition: opacity 1s ease-in-out;
  display: inline-block;
}

.collage-container {
  background-image: url(img/6.png);
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.815);
  background-blend-mode: lighten;
}

.collage {
  max-width: 1200px;
  display: grid;
  margin-left: auto;
  margin-right: auto;
}

.grid-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 100px;
  margin-top: 100px;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-right: 100px;
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 100px;
  margin-bottom: 100px;
}

.image-div {
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 10px;
}

.collage-image-1 {
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1169px) {
  .grid-1 {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    margin-top: 50px;
  }

  .grid-2 {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
  }

  .grid-3 {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    margin-bottom: 50px;
  }

  .collage-image-1 {
    border-radius: 10px;
    max-width: 300px;
  }

  .collage {
    display: grid;
  }

  .image-div {
    background-color: #ffffff;
    border-radius: 10px;
  }
}

.abonnemang-h1 {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  margin-top: 100px;
}

.container-pricePackages {
  background-color: #109bff8c;
}

.abonnemang-pricePackages {
  display: flex;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;

  @media screen and (max-width: 1229px) {
    flex-direction: column;
    padding-bottom: 100px;
  }
}

.h1-package {
  margin-top: 0px;
  background-color: #bee4ff9c;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

.p-package {
  font-weight: 600;
  display: flex;
  justify-content: center;
}

.month-package {
  border: solid 8px #41b0ff;
}

.h1-mostPopular {
  background-color: #3caeff;
  color: white;
}

.package-1 {
  background-color: #ffffff;
  width: 350px;
  height: 400px;
  margin: 10px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  border-radius: 20px;

  @media screen and (max-width: 1229px) {
    margin-bottom: 0px;
  }
}

.div-abonnemang-button {
  background-color: #58a0ff;
  border: solid 3px;
  border-radius: 20px;
  border-color: #3e92ff;
  padding: 14px;
  width: 200px;
  text-align: center;
  margin-top: 100px;
}

.div-abonnemang-button:hover {
  transition: 0.5s;
  background-color: #0085e4;
}

.most-popular {
}

.most-popular-button {
  background-color: #3caeff;
  border-color: #ffffffa1;
}

.most-popular-button:hover {
  background-color: #0095ff;
  border-color: #ffffff6e;
}